.box {
    max-width: 480px;
    max-height: 430px;
    display: flex;
    flex-direction: column;
    margin: 7% auto;
    align-items: center;
}

.input {
    margin-bottom: 24px;
}

.text {
    display: flex;
}

.text p {
    margin: 0;
}

.text a {
    text-decoration: none;
    color: #4C4CFF;
}