.main {
    margin: 0 auto;
    max-width: 1210px;
}

.body {
    display: flex;
    gap: 30px;
}

.orders_container {
    width: 600px;
    max-height: 70vh;
    overflow: scroll; 
    overflow-x: auto;
    scroll-behavior: smooth;
}

.orders_container::-webkit-scrollbar {
    width: 8px;
}
 
.orders_container::-webkit-scrollbar-track {
    background-color: #2F2F37;
}
 
.orders_container::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.orders {
    display: flex;
    flex-direction: column;
}

.orders_card {
    background-color: #1C1C21;
    border-radius: 40px;
    padding: 24px;
    margin-bottom: 16px;
}

.card_link {
    text-decoration: none;
    color: #F2F2F3;
}

.card_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.card_header p {
    margin: 0;
}

.card_main {
    display: flex;
    justify-content: space-between;
}

.card_ingredients {
    display: flex;
}

.card_ingredient {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#801ab3,#4c4cff);
    border-radius: 100%;
    position: relative;
    margin-left: -16px;
}

.card_ingredient:first-child {
    margin-left: 0;
}

.card_ingredient::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background: #131316;
    border-radius: 100%;
}

.card_img {
    width: 112px;
    z-index: 1;
}

.card_price {
    display: flex;
    align-items: center;
}

.info_container {
    width: 580px;
}

.info_orders {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}

.done_prep {
    width: 272px;
    max-width: 272px;
    height: 206px;
}

.text {
    text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.5), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
}